@model SmartCity.Domain.Entities.Manager

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理员修改</title>
    <link href="~/Content/script/h-ui/css/H-ui.min.css" rel="stylesheet" />
    <link href="~/Content/script/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" />
    <link href="~/Content/script/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" />
    <link href="~/Content/script/h-ui.admin/skin/default/skin.css" rel="stylesheet" id="skin" />
</head>
<body>
    <article class="page-container">
        <div class="form form-horizontal">
            @using (Ajax.BeginForm("UpdateManagerInfo","Manager", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "dig.Success", OnFailure = "dig.Complete" }, new { @class = "form-signin",@id= "ManagerForm" }))
            {
                <input type="hidden" name="ManagerID" value="@Model.ManagerID" />
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        @Html.TextBoxFor(x => x.ManagerName, new { @class = "input-text", @id = "ManagerName", @name = "ManagerName" })
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员密码：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="password" class="input-text"  placeholder="不修改可以为空" id="ManagerPassword" name="ManagerPassword">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="@Model.ManagerPhone" placeholder="" id="ManagerPhone" name="ManagerPhone">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="@Model.ManagerEmail" placeholder="" name="ManagerEmail" id="ManagerEmail">
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    </div>
                </div>
            }
        </div>
    </article>
    <!--_footer 作为公共模版分离出去-->
    <script src="~/Content/script/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Content/script/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/script/lib/layer/2.4/layer.js"></script>
    <script src="~/Content/script/h-ui/js/H-ui.min.js"></script>
    <script src="~/Content/script/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script src="~/Content/script/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script src="~/Content/script/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script src="~/Content/script/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script src="~/Content/script/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script src="~/Content/script/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
    <script src="~/Content/script/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        //执行成功后调用JS
        var dig = {
            Success: function (result) {
                if (result.IsSuccess == 0) {
                    window.parent.location.reload();
                }
                else {
                    layer.msg(result.Message, { icon: 2, time: 2000 });
                }
            },
            Failure: function () {
                layer.msg('修改失败，请稍后重试！', { icon: 2, time: 2000 });
            },
            ErrorMsg: function (msg) {
                ClickRemoveChangeCode();
                layer.msg('修改失败，请稍后重试！', { icon: 2, time: 2000 });
            }
        };
        $().ready(function () {
            $("#ManagerForm").validate({
                rules: {
                    ManagerPhone: {
                        required: true,
                        mobile: true
                    },
                    ManagerName: {
                        required: true,
                        maxlength: 10
                    },
                    ManagerEmail: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    UserAccount: {
                        required: "请输入账号"
                    },
                    UserPassword: {
                        required: "请输入密码",
                    }
                }
            });
            jQuery.validator.addMethod("alnum", function (value, element) {
                return this.optional(element) || /^[a-zA-Z0-9]+$/.test(value);
            }, "只能包括英文字母和数字");
            //手机验证规则  
            jQuery.validator.addMethod("mobile", function (value, element) {
                var mobile = /^1[3|4|5|7|8]\d{9}$/;
                return this.optional(element) || (mobile.test(value));
            }, "手机格式不对");
        });
    </script>
</body>
</html>
